<div class="form_wrapper">
  <h2 class="description">Look up recent and historical stock prices</h2>
  <div>

    <form action="/action_page.php">
      <label for="fname">Stock Symbol</label>
      <input type="text" id="fname" name="firstname" placeholder="Enter stock ticker symbol here...">
      <p class="validator_true">This is a valid stock symbol</p>
      <p class="validator_false">Please enter a valid stock symbol</p>

      <label for="lname">Date</label>
      <input type="text" id="lname" name="lastname" placeholder="Enter date as yyyy-mm-dd">

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>
