<mat-spinner *ngIf="!api_info"></mat-spinner>

<div *ngIf="api_info">
  <h2>Yesterday's stock info for {{api_info['Meta Data']['2. Symbol']}}</h2>

  <p>{{"Open: $" + api_info['Time Series (Daily)'][api_info['Meta Data']['3. Last Refreshed']]['1. open']}}</p>
  <p>{{"High: $" + api_info['Time Series (Daily)'][api_info['Meta Data']['3. Last Refreshed']]['2. high']}}</p>
  <p>{{"Low: $" + api_info['Time Series (Daily)'][api_info['Meta Data']['3. Last Refreshed']]['3. low']}}</p>
  <p>{{"Close: $" + api_info['Time Series (Daily)'][api_info['Meta Data']['3. Last Refreshed']]['4. close']}}</p>
  <p>{{"Volume: " + api_info['Time Series (Daily)'][api_info['Meta Data']['3. Last Refreshed']]['5. volume']}}</p>
</div>
